
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GirisYap</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
    <style>
    .bir{
        margin-left:550px;margin-right:550px;margin-top:260px;
    }
    </style>
</head>
<body> 
    <div class="bir">
    <form method="post">
        <div class="form-group">
            <label class="control-label">E-posta</label>
            <input id="Eposta" name="Eposta" type="email" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label>Parola</label>
            <input id="Parola" name="Parola" type="password" class="form-control">
        </div>
        <button type="submit" value="GirisYap" class="btn btn-primary">Giriş Yap</button>
    </form>
    <a href="#">Parolamı unuttum</a>
    </div>
</body>
</html>